<p>Parámetro 1: {{ id }}</p>
<p>Parámetro 2: {{ cod }}</p>
<button (click)="irMaterias()">Ir materias</button>

<div [hidden]="!isAdmin" class="caja" style="width: 50%;">
  <form [formGroup]="materiasForm" (submit)='guardar()'>
    <label for="id">Id:</label><br>
    <input type="text" formControlName="id" name="id" id="id" [class]="{'missing':!isInvalid}">
    <br>
    <label for="materia">Materia:</label><br>
    <input type="text" formControlName="materia" name="materia" id="materia">
    <br>
    <label for="nivel">Nivel:</label><br>
    <input type="text" formControlName="nivel" name="nivel" id="nivel">
    <br>
    <button type="submit" [disabled]="!materiasForm.valid">Guardar</button><br>
  </form>
</div>
