.box2 {
  min-width: 200px;
  min-height: 100px;
  background-color: rgb(206, 241, 191);
  border: 2px solid rgb(2, 2, 33);  /* Ancho, estilo y color del borde */
  border-radius: 10px;     /* Bordes redondeados */
  padding: 0px 10px 10px 10px;
  margin: 0px 30px 0px 30px;
}
